/* custom properties */

:root {
  /* spacings */
  --section-padding: 100px;
  --about-content-margin: 20px;

  /* colors */
  --clr-dark-blue-intro: hsl(217, 28%, 15%);
  --clr-dark-blue-main-bg: hsl(218, 28%, 13%);
  --clr-dark-blue-footer: hsl(216, 53%, 9%);
  --clr-dark-blue-testimonials: hsl(219, 30%, 18%);

  --clr-cyan: hsl(176, 68%, 64%);
  --clr-blue: hsl(198, 60%, 50%);
  --clr-light-red: hsl(0, 100%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light: hsla(0, 0%, 100%, 0.8);

  /* typography */
  --ff-Raleway: "Raleway", sans-serif;
  --ff-Open-sans: "Open Sans", sans-serif;

  --fs-hero__title: 2.1rem;
  --fs-section-title: 1.8rem;
  --fs-section-text: 1.2rem;
}

/* reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button,
a,
span,
input {
  display: block;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

form,
input,
button,
select,
option {
  font: inherit;
}

:focus-visible {
  outline: 1px solid black;
  outline-offset: -3px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  scrollbar-width: thin;
  font-size: 62.5%;
}

body {
  background-color: var(--clr-dark-blue-main-bg);
  font-family: var(--ff-Open-sans);
  font-size: 1.3rem;
}

/* utility classes */

.text-clr-white {
  color: var(--clr-white);
}

.text-clr-light {
  color: var(--clr-light);
}

.text-clr-cyan {
  color: var(--clr-cyan);
}

.margin-inline-auto {
  margin-inline: auto;
}

/* reused styles */

.section__title {
  font-size: var(--fs-section-title);
  font-weight: 700;
}

.navbar__link,
.section__title {
  font-family: var(--ff-Raleway);
}

.section__text {
  max-width: 40ch;
  font-weight: 400;
  line-height: 1.5;
  margin-block-start: 12px;
  font-size: var(--fs-section-text);
}

.button,
.about__btn {
  font-family: var(--ff-Raleway);
  transition: background-color 300ms ease;
}

.button {
  background-color: var(--clr-blue);
  padding: 10px 40px;
  border-radius: 20px;
  color: var(--clr-white);
  font-weight: 600;
}

.button:is(:hover, :focus) {
  background-color:
    hsl(198, 60%, 65%);
}

button,
.navbar__link {
  cursor: pointer;
}


footer__list__item,
.footer__social__list {
  gap: 8px;
}

.footer__list__container,
.footer__wrapper {
  gap: 25px;
}

/* main styles */

/* header */
.navbar__list {
  gap: 30px;
}

.navbar__link {
  font-weight: 600;
}

.navbar__link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -2px;
  background-color: var(--clr-white);
  transition: width 300ms ease;
}

.navbar__link:is(:hover, :focus)::before {
  width: 100%;
}

/* hero section */
.hero-illustration,
.about__figure {
  max-width: 375px;
}

.section-padding {
  padding-block-start: var(--section-padding);
}

.hero__title {
  font-size: var(--fs-hero__title);
  max-width: 22ch;
  line-height: 1.4;
}

.hero .section__text {
  max-width: 50ch;
}

/* features */

.features__list {
  gap: 35px;
}

.card__icon {
  max-width: max-content;
  margin-inline: auto;
}

.card__title {
  margin-block-start: 12px;
}

/* about content */

.about__content {
  margin-block-start: var(--about-content-margin);
}

.about__btn__wrappper {
  gap: 10px;
  max-width: max-content;
}

.about__btn {
  font-weight: 500;
}

.about__btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--clr-cyan);
  bottom: -3px;
  left: 0;
  transition-property: color;
}

.about__btn:is(:hover, :focus) {
  color: var(--clr-white)
}

.about__btn:is(:hover, :focus)::after {
  all: unset;
}

/* testimonial section */

.testimonials__list {
  gap: 20px;
}

.testimonial-card {
  background-color: var(--clr-dark-blue-testimonials);
  padding: 20px 15px;
}

.user-profile {
  gap: 10px;
}

.user__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.user__info {
  line-height: 1.2;
}

.user__name {
  font-family: var(--ff-Raleway);
  font-weight: 700;
}

.user__designation {
  font-size: 1rem;
}

.quote-mark {
  top: -20px;
  left: 0;
}

/* cta */

.cta__wrapper {
  max-width: 575px;
  background-color: var(--clr-dark-blue-intro);
  border-radius: 8px;
  padding: 25px 15px;
  margin-block-end: -40px;
}

.cta .section__text {
  text-wrap: balance;
}

.cta__form__wrapper {
  margin-block-start: 20px;
}

.cta__form {
  gap: 20px;
}

.cta__input {
  background-color: var(--clr-white);
  padding: 10px 20px;
  border-radius: 20px;
}

.cta .cta__input,
.cta .button {
  width: min(100%, 270px);
}

.cta__input::placeholder {
  font-size: 1.2rem;
}

/* footer */

.footer .section__text {
  margin-block: 0;
}

.footer__list__container {
  margin-block-start: 25px;
}

.footer__list {
  gap: 10px;
}

.footer {
  background-color: var(--clr-dark-blue-footer);
}

.list__icon {
  min-width: 30px;
}

.footer__social__link {
  padding: 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--clr-light);
  display: grid;
  place-content: center;
}

/* media queries */

/* responisve for devices more than 575px */
@media(min-width:575px) {
  :root {
    --section-padding: 60px;
  }

  .hero-illustration {
    max-width: 420px;
  }

  .hero .button {
    width: 180px;
  }

  .hero__title {
    max-width: 30ch;
  }

  .features__list {
    grid-template-columns: 1fr 1fr;
  }

  .about__content .section__title {
    font-size: var(--fs-hero__title);
    max-width: 20ch;
    text-wrap: balance;
  }

  .about__figure {
    margin-inline: auto;
  }

  .testimonials__list {
    grid-template-columns: 1fr 1fr;
  }

  .cta .section__text {
    max-width: unset;
  }

  .cta__form {
    flex-direction: row !important;
    align-items: start !important;
  }

  .cta__input {
    width: unset;
    flex-grow: 1;
  }

  .cta__button {
    margin-block-start: 0;
    padding-inline: 10px;
    width: 180px !important;
  }

  .footer__list__container {
    grid-template-columns: 1fr 1fr;
  }

  .footer__social__list {
    justify-content: flex-end !important;
  }

  .footer__wrapper {
    gap: 80px;
    flex-direction: row !important;
    justify-content: center;
  }
}

/* responsive for devices more than 768px */
@media(min-width:768px) {
  :root {
    --fs-hero__title: 2.4rem;
    --fs-section-title: 2rem;
  }

  .footer__list__container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .navbar__link {
    font-size: 1.5rem;
  }
}

/* responsive for devices more than 992px */
@media(min-width:992px) {
  :root {
    --fs-hero__title: 2.6rem;
    --fs-section-title: 2.1rem;
    --fs-section-text: 1.35rem;
  }

  .testimonials__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* resposnive for devices more than 1200px */
@media(min-width:1200px) {
  :root {
    --fs-hero__title: 2.8rem;
    --fs-section-title: 2.2rem;
  }
}